.Person {

    border-collapse: collapse;
    border: 2px solid rgb(231, 238, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* align-content:flex-start; */
    align-content: left;
    align-items: center;
    margin-left: 50px;
    width: 50%;
    height: 50px;
    padding: 15%;
    float: left;
    margin-top: 30px;
    padding-top: 0em;
    font-style: normal;
    text-align: left;

}

.Person_avtar {
    margin-left: -200px;
    float: left;
    height: 200px;
    width: 200px;
    align-items: right;


}

.rowC {
    display: flex;
    flex-direction: row;
}